<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link href="/dist/output.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div id="container">
      <h1>Add Course</h1>
      <form action="/Instructor/AddCourse" method="post">
        <input name="courseName" placeholder="Course Name" />
        <br />
        <textarea name="courseDesc"> Course Description</textarea>
        <br />
        <input name="start" placeholder="starting day" type="date" />
        <br />
        <input name="end" placeholder="dending day" type="date" />
        <br />
        <input type="submit" value="Add" />
      </form>
    </div>
  </body>
</html>
