<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <h1>Instructor Register Form</h1>
      <form action="/Instructor/register" method="post">
        <input name="username" placeholder="username" />
        <br />
        <input name="fullname" placeholder="full name" />
        <br />
        <input name="password" placeholder="password" type="password" />
        <br />
        <input name="email" placeholder="email" type="email" />
        <br />
        <input type="submit" value="Register" />
      </form>
    </div>
  </body>
</html>
