<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <h1>Attache Instructor To Course</h1>

      <form action="/Principal/AttachedCourse" method="post">
        <div class="bg-zinc-600">
          <label>Instructor</label>
          <select name="Instructor" class="px-4 py-3 rounded-full">
            <% for( Instructor of Instructors) { %>
            <option value="<%=Instructor._id%>">
              <%=Instructor.fullName%>
            </option>
            <% } %>
          </select>
        </div>
        <div>
          <label>Courses</label>
          <select name="Course" class="form-control">
            <% for( Course of Courses) { %>
            <option value="<%=Course._id%>"><%=Course.courseName%></option>
            <% } %>
          </select>
        </div>
        <input type="submit" value="attache" />
      </form>
    </div>
  </body>
</html>
